html, body {
    width: 100%;
    height: 100%;
    background: #1F8DD6;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 1.05rem;
}

.fullpage {
    background: #1F8DD6;
    width: 100%;
    height: 100%;
}

.container {
    color: white;
    padding: 2rem;
    padding-top: 1rem;
}

.header {
    font-weight: 700;
    font-size: 2.5rem;
    font-family: 'Oswald', sans-serif;
    margin-top: 1rem;
}

.sub-header {
    font-weight: 300;
    font-size: 1.5rem;
}

.login input {
    width: 100%;
    color: black;
}

.login .pure-button-primary {
    border: 1px solid white;
    background: #1F8DD6;
}



.menu .sub-header {
    margin-bottom: 0px;
}
.menu hr{
    color: white;
    height: 1px;
}
.menu .pure-button-primary {
    border: 1px solid white;
    background: #1F8DD6;
    width: 100%;
    margin: 1rem 0 0 0;
    font-weight: 400;
    font-family: 'Oswald', sans-serif;
}

.pull-right {
    float: right;
}

.message {
    font-family: inherit;
    font-size: 100%;
    padding: 0.5em 1em;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    font-weight: 400;
}

.error-message {
    background-color: rgba(255, 6, 6, 0.82);
}
.success-message {
    background-color: #5EB95E;
}

@-webkit-keyframes fade-out {
    0%   {opacity: 1; transform: translate3d(0,0,0);}
    80% {opacity: 0;}
    100% {opacity: 0; transform: translate3d(-50px,-50px,-50px);}
}
@-moz-keyframes fade-out {
    0%   {opacity: 1; transform: translate3d(0,0,0);}
    80% {opacity: 0;}
    100% {opacity: 0; transform: translate3d(-50px,-50px,-50px);}
}
@-o-keyframes fade-out {
    0%   {opacity: 1; transform: translate3d(0,0,0);}
    80% {opacity: 0;}
    100% {opacity: 0; transform: translate3d(-50px,-50px,-50px);}
}
@keyframes fade-out {
    0%   {opacity: 1; transform: translate3d(0,0,0);}
    80% {opacity: 0;}
    100% {opacity: 0; transform: translate3d(-50px,-50px,-50px);}
}


.fade-out {
    -webkit-animation: fade-out 1s cubic-bezier(0.15, 0.43, 0.52, 0.91) 0s normal forwards 1 running; /* Safari 4+ */
    -moz-animation:    fade-out 1s cubic-bezier(0.15, 0.43, 0.52, 0.91) 0s normal forwards 1 running; /* Fx 5+ */
    -o-animation:      fade-out 1s cubic-bezier(0.15, 0.43, 0.52, 0.91) 0s normal forwards 1 running; /* Opera 12+ */
    animation:         fade-out 1s cubic-bezier(0.15, 0.43, 0.52, 0.91) 0s normal forwards 1 running; /* IE 10+, Fx 29+ */
}

@-webkit-keyframes fade-in {
    0%
        {opacity: 0; transform: translate3d(50px,50px,50px);}
    30%
        {opacity: 0;}
    100%
        {opacity: 1; transform: translate3d(0,0,0);}
}
@mozkeyframes fadein {
    0%
        {opacity: 0; transform: translate3d(50px,50px,50px);}
    30%
        {opacity: 0;}
    100%
        {opacity: 1; transform: translate3d(0,0,0);}
}
@okeyframes fadein {
    0%
        {opacity: 0; transform: translate3d(50px,50px,50px);}
    30%
        {opacity: 0;}
    100%
        {opacity: 1; transform: translate3d(0,0,0);}
}
@keyframes fade-in {
    0%
        {opacity: 0; transform: translate3d(50px,50px,50px);}
    30%
        {opacity: 0;}
    100%
        {opacity: 1; transform: translate3d(0,0,0);}
}

.fade-in {
    -webkit-animation: fade-in 1s cubic-bezier(0.15, 0.43, 0.52, 0.91) 0s normal forwards 1 running; /* Safari 4+ */
    -moz-animation:    fade-in 1s cubic-bezier(0.15, 0.43, 0.52, 0.91) 0s normal forwards 1 running; /* Fx 5+ */
    -o-animation:      fade-in 1s cubic-bezier(0.15, 0.43, 0.52, 0.91) 0s normal forwards 1 running; /* Opera 12+ */
    animation:         fade-in 1s cubic-bezier(0.15, 0.43, 0.52, 0.91) 0s normal forwards 1 running; /* IE 10+, Fx 29+ */
}